body {
  background-image: linear-gradient(
    to top,
    rgb(253, 253, 253),
    rgb(227, 239, 255)
  );
  background-repeat: none;
}

.header {
  display: block;
  justify-content: center;
  margin-top: 5%;
}

.welcome {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

#main {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#upper {
  width: 550px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px 5px 0 0;
}

#lower, #loginForm {
  display: grid;
  place-items: center;

  width: 550px;
  border: 1px solid lightgrey;
  background-color: #f4f4f4;
}

#password {
  margin: 10px;
}

.upperinfo {
  color: rgb(37, 103, 146);
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

a {
  color: rgb(37, 103, 146);
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#footer {
  display: grid;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 40px;
}

#copy {
  font-size: 13px;
}

button {
  color: rgb(37, 103, 146);
  background-color: #f4f4f4;
  border: 1px solid lightblue;
  border-radius: 5px;
  width: 70px;
  font-size: 12px;
}

button:hover {
  box-shadow: 1px 1px 5px grey;
  box-shadow: inset 1px 1px 2px grey;
}

.password:active {
  background-color: rgb(rgb(137, 92, 209), green, blue);
}

.inputLabel {
  font-size: 13px;
  font-weight: 90%;
}

#forgot {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  
}